apex==0.9.10dev
datasets==1.11.0
madgrad==1.1
neptune_client==0.10.4
numpy==1.19.5
optuna==2.9.1
pandas==1.3.1
ptvsd==4.3.2
requests==2.26.0
scikit_learn==1.0.1
tensorboardX==2.4.1
tensorflow_datasets==4.4.0
torch==1.9.0
tqdm==4.62.1
transformers==4.11.0.dev0
